In [1]:
import pandas as pd

# Sample order data
data = {
    'order_id': [1001, 1002, 1003, 1004, 1005],
    'customer_id': ['C001', 'C002', 'C003', 'C004', 'C005'],
    'product_category': ['Electronics', 'Clothing', 'Books', 'Electronics', 'Clothing'],
    'product_price': [1500, 799, 399, 2200, 999],
    'customer_rating': [4.2, 3.5, 5.0, 2.8, 3.0],
    'delivery_time': [3, 5, 2, 7, 6],
    'return_status': [0, 1, 0, 1, 1]
}

df = pd.DataFrame(data)
df.head()

,order_id,customer_id,product_category,product_price,customer_rating,delivery_time,return_status
0,1001,C001,Electronics,1500,4.2,3,0
1,1002,C002,Clothing,799,3.5,5,1
2,1003,C003,Books,399,5.0,2,0
3,1004,C004,Electronics,2200,2.8,7,1
4,1005,C005,Clothing,999,3.0,6,1

In [2]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

# Encode product_category (string â†’ number)
le = LabelEncoder()
df['product_category'] = le.fit_transform(df['product_category'])

# Feature and target selection
X = df[['product_category', 'product_price', 'customer_rating', 'delivery_time']]
y = df['return_status']

# Scale features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [3]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

# Train classifier
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

# Predict
y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00         1

    accuracy                           1.00         1
   macro avg       1.00      1.00      1.00         1
weighted avg       1.00      1.00      1.00         1

In [4]:
import joblib

joblib.dump(model, "return_predictor.pkl")
joblib.dump(scaler, "scaler.pkl")

['scaler.pkl']