In [0]:
from pyspark.sql import SparkSession

In [0]:
spark = SparkSession.builder.appName("StudentAssignment").getOrCreate()

In [0]:
# Sample employee data
data = [
(1, "Alice", "Engineering", 65000),
(2, "Bob", "Marketing", 58000),
(3, "Charlie", "Sales", 52000),
(4, "David", "Engineering", 72000),
(5, "Eve", "Sales", 54000)
]
schema = ["ID", "Name", "Department", "Salary"]
df = spark.createDataFrame(data, schema=schema)
df.show()

+---+-------+-----------+------+
| ID|   Name| Department|Salary|
+---+-------+-----------+------+
|  1|  Alice|Engineering| 65000|
|  2|    Bob|  Marketing| 58000|
|  3|Charlie|      Sales| 52000|
|  4|  David|Engineering| 72000|
|  5|    Eve|      Sales| 54000|
+---+-------+-----------+------+

In [0]:
#Show schema
df.printSchema()

root
 |-- ID: long (nullable = true)
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: long (nullable = true)

In [0]:
# Filter: Salary > 60000
df.filter(df["Salary"] > 60000).show()

+---+-----+-----------+------+
| ID| Name| Department|Salary|
+---+-----+-----------+------+
|  1|Alice|Engineering| 65000|
|  4|David|Engineering| 72000|
+---+-----+-----------+------+

In [0]:
# Group by Department
df.groupBy("Department").count().show()

+-----------+-----+
| Department|count|
+-----------+-----+
|Engineering|    2|
|  Marketing|    1|
|      Sales|    2|
+-----------+-----+

In [0]:
# Average Salary by Department
df.groupBy("Department").avg("Salary").show()

+-----------+-----------+
| Department|avg(Salary)|
+-----------+-----------+
|Engineering|    68500.0|
|  Marketing|    58000.0|
|      Sales|    53000.0|
+-----------+-----------+